@charset 'utf-8';

.featureCards {
  display: flex;
  gap: 4px;
  > * {
    width: 100%;
    border-color: #eee;
    border-style: dotted;
    border-radius: 8px;
    @media (prefers-color-scheme: dark) {
      border-color: #222;
    }
    > * {
      margin: .5em 0;
    }
  }
  @media (max-width: 480px) {
    display: block;
  }
}

.scrollList {
  overflow: hidden;
  width: 100%;
  > * {
    display: flex;
    gap: 16px;
    height: 160px;
    width: max-content;
    margin: 0;
    padding: 0;
    overflow: visible;
    animation: scrolllist infinite 3s linear;
    > * {
      display: flex;
      height: inherit;
    }
    img {
      height: 100%;
      width: fit-content;
      object-fit: contain;
      margin: auto;
    }
  }
}

@keyframes scrolllist {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
